<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Account" value="SAAWL"/>
    <add key="Pwd" value="123456"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <connectionStrings>
    <add name="ERPconnStr" connectionString="Data Source = (DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.0.211)(PORT = 1521))(CONNECT_DATA = (SERVICE_NAME = topprod))); Persist Security Info=True;User ID = top01; Password=top01;"/>
    <add name="BESTconnStr" connectionString="Data Source=192.168.0.254; Initial Catalog=sab; User ID=sa001; Password=sabrina;Connect Timeout=180"/>
    <add name="BESTconnStr_KM" connectionString="Data Source=192.168.4.122; Initial Catalog=new_sab; User ID=sa001; Password=sa123456;Connect Timeout=180"/>
    <add name="MySqlconnStr" connectionString="Server=172.16.1.219; Port=3306; Database=outassist; User=root; Password=Sabrina123"/>
    <add name="MyCatconnStr_fsg" connectionString="Server=192.168.4.245; Port=8066; Database=mycat_fsg; User=root; Password=Sabrina123;pooling=true;Connect Timeout=180;CharSet=utf8;Allow User Variables=True"/>
    <add name="MySqlconnStr_fsg" connectionString="Server=192.168.4.243; Port=3306; Database=fsg; User=root; Password=Sabrina123;pooling=true;Connect Timeout=180;CharSet=utf8mb4"/>
    <add name="TNFsQLconnstr" connectionString="Data Source=192.168.4.245; Initial Catalog=Scan_data; User ID=sa; Password=sabrina;Connect Timeout=180"/>
    <add name="SabrinaVisaSqlconnstr" connectionString="Data Source=192.168.4.245; Initial Catalog=SabrinaVisa; User ID=sa; Password=sabrina;Connect Timeout=180"/>
    <add name="SAAMesSqlConnStr" connectionString="Data Source=192.168.4.251; Initial Catalog=SabrinaMESDB; User ID=sa; Password=iwall123;Connect Timeout=180"/>
    <add name="TOPMesSqlConnStr" connectionString="Data Source=192.168.7.240; Initial Catalog=sabrinadb; User ID=sa; Password=iwall123;Connect Timeout=180"/>
    <add name="SPSqlconnStr" connectionString="Data Source=192.168.4.245; Initial Catalog=shippingpackages; User ID=sa; Password=sabrina;Connect Timeout=180"/>
    <add name="TOP_MercurySQLconnstr" connectionString="Data Source=192.168.6.221; Initial Catalog=MercuryFFSdb; User ID=topship; Password=topship1020;Connect Timeout=180"/>
    <add name="SAA_MercurySQLconnstr" connectionString="Data Source=192.168.1.133; Initial Catalog=MercuryFFSdb; User ID=saaship; Password=saaship1020;Connect Timeout=180"/>
    <add name="IEBomSQLconnstr" connectionString="Data Source=192.168.4.243; Initial Catalog=IEBOM; User ID=sa; Password=iwall123;Connect Timeout=180"/>
    <add name="FilePath" connectionString="C:\Scan\scan.xlsx"/>
    <add name="SheetName" connectionString="Sheet1"/>
    <add name="SubinvName" connectionString="S010"/>
    <add name="OrgName" connectionString="SAA"/>
    <add name="EnableMiddleWare" connectionString="1"/>
  </connectionStrings>
  <system.windows.forms jitDebugging="true"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2016.1.0.0" newVersion="2016.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.0" newVersion="1.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
